{% extends 'dishcovery_project/base.html' %}
{% load static %}

{% block title_block %}
About Us
{% endblock %}

{% block body_block %}
<div class="main-content">
<div class="about-container">
    <h1>About</h1>
    <p>Welcome to Dishcovery, where culinary traditions from around the world gather! Our platform is designed to connect people through the art of cooking, offering a space to share and discover diverse recipes while celebrating global cultures.
        With an interactive community at its heart, you can create accounts to share your favorite dishes, explore a wide variety of cuisines, and rate and comment on recipes. More than just step-by-step instructions, each recipe includes cultural backgrounds and personal stories, enriching the experience beyond the plate.
        Whether you're a passionate home cook or an adventurous foodie, our goal is to inspire learning, engagement, and appreciation for the flavors that unite us all. Join us in celebrating the world's culinary heritage.
    </p>
    <img src="/static/images/globalcuisine.jpg">
</div>
</div>
{% endblock %}