{% extends 'dishcovery_project/base.html' %}
{% load static %}

{% block title_block %}
Add a new recipe
{% endblock %}

{% block body_block %}
<div class="profile-container">
    <h1>Add a New Recipe for {{ user.username }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="custom-form">
            <!-- Render each form field except cuisine_name -->
            {% for field in form %}
            {% if field.name != 'cuisine_name' %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text }}</p>
                {% endif %}
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}

            <!-- Custom rendering for cuisine_name field -->
            <div class="form-group">
                <label for="id_cuisine_name">Cuisine:</label>
                {{ form.cuisine_name }}
                <p class="help">Enter the cuisine type of your recipe </p>
                {{ form.cuisine_name.errors }}
            </div>

            <button type="submit" class="submitbtn">Add Recipe</button>
        </div>
    </form>
</div>
{% endblock %}