<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_block %} Dishcovery {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header>
        <div class="toggle"><i class="fa fa-bars" aria-label="Toggle sidebar"></i></div>
        <div class="logo">
            <h1><a href="{% url 'dishcovery:home' %}" style="text-decoration: none">Dishcovery</a></h1>
            <div class="welcome-message">
                {% if user.is_authenticated %}
                    <li>Welcome, {{ user.username }}</li>
                {% else %}
                    <li>Welcome</li>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <li>Welcome, {{ user.username }}</li>
            {% else %}
            <li>Welcome</li>
            {% endif %}

        </div>
        
        <div class="search-box">
            <form method="get" action="{% url 'dishcovery:search' %}">
                <input type="text" name="query" id="search" placeholder="Search" value="{{ request.GET.query }}" aria-label="Search for recipes">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
       
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'dishcovery:add_recipe' %}">+ recipe</a></li>
                <li><a href="{% url 'dishcovery:profile_page' %}">My Profile</a></li>
                <li><a href="{% url 'dishcovery:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'dishcovery:login' %}">Login</a></li>
            {% endif %}
        </ul>
        <div class="menu">
            <label for="chk1">
                <i class="fas fa-bars"></i>
            </label>
        </div>
    </header>

    <div class="sidebar">
        <h2>CUISINES</h2>
        <ul>
            {% for cuisine in cuisines %}
                <li><a href="{% url 'dishcovery:cuisine_recipes' cuisine.id %}">{{ cuisine.name }}</a></li>
            {% empty %}
                <li>No cuisines available</li>
            {% endfor %}
        </ul>
    </div>

    <div class="main-container">
        {% block body_block %}
        {% endblock %}
    </div>

    <footer>
        <div class="footer-container">
            <ul>
                <li><a href="{% url 'dishcovery:about'%}">About Us</a></li>
                <li><a href="{% url 'dishcovery:faq'%}">FAQ</a></li>
                <li><a href="{% url 'dishcovery:contact'%}">Contact Us</a></li>
            </ul>
            <p> &copy; 2025 Dishcovery Ltd. (Boyd Orr Building / Lab 706), Glasgow University, Glasgow </p>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
