{% extends 'dishcovery_project/base.html' %}
{% load static %}

{% block title_block %}
Contact Us
{% endblock %}

{% block body_block %}
<div class="creator-container">
    <h1>Creators</h1>
    <div class="creator-cards">
        <div class="creator-card">
            <div class="creator-icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <h3>Mohammed Al Senani</h3>
            <p>2840440</p>
        </div>

        <div class="creator-card">
            <div class="creator-icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <h3>Otgonbayar Bayansan</h3>
            <p>2963377</p>
        </div>

        <div class="creator-card">
            <div class="creator-icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <h3>Karthik Ajith</h3>
            <p>2774255</p>
        </div>

        <div class="creator-card">
            <div class="creator-icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <h3>Omar Alabbasi</h3>
            <p>2723113</p>
        </div>

        <div class="creator-card">
            <div class="creator-icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <h3>Magnus Brown</h3>
            <p>2874717</p>
        </div>
    </div>
</div>
{% endblock %}