{% extends 'dishcovery_project/base.html' %}
{% load static %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<div class="main-content">
    <div class="container mt-4">
        <div class="trending-box">
            <h2>Trending Recipes</h2>
            <div class="recipe-cards-container">
                {% for recipe in trending_recipes %}
                <div class="recipe-card">
                    {% if recipe.image %}
                    <img src="{{ recipe.image.url }}" class="recipe-card-img" alt="{{ recipe.title }}">
                    {% else %}
                    <img src="/static/images/no_image.png" class="recipe-card-img" alt="No Image">
                    {% endif %}
                    <div class="recipe-card-body">
                        <h5 class="recipe-card-title">
                            <a href="{% url 'dishcovery:recipe_details' recipe.id %}">{{ recipe.title }}</a>
                        </h5>
                        <p><strong>Rating:</strong> {{ recipe.avg_rating|floatformat:1 }}/10</p>
                    </div>
                </div>
                {% empty %}
                <p>No trending recipes yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}