{% extends 'dishcovery_project/base.html' %}
{% load static %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}
<div class="login-box">
    <form method="post" action="{% url 'dishcovery:login' %}">
        {% csrf_token %}
        <h2>Login</h2>

        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
            <i class="fa fa-user"></i>
        </div>
        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
            <i class="fa fa-lock"></i>
        </div>

        <div class="forgot">
            <a href="#">Forgot password?</a>
        </div>

        <button type="submit" class="login-btn">Login</button>

        <div class="register-link">
            <p>Don't have an account? <a href="{% url 'dishcovery:register' %}">Register here!</a></p>
        </div>
    </form>
</div>

<footer>
    <div class="row">
        <p>hello</p>
    </div>
</footer>
{% endblock %}