{% extends 'dishcovery_project/base.html' %}
{% load static %}

{% block title_block %}
{{ recipe.title }} - Details
{% endblock %}

{% block body_block %}
<div class="recipe-container">
    <h1>{{ recipe.title }} - shared by <a
            href="{% url 'dishcovery:user_profile' recipe.author.id %}">{{recipe.author.username }}</a></h1>
    {% if recipe.image %}
    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-image">
    {% else %}
    <p>No image available for this recipe.</p>
    {% endif %}

    <ul>
        <li>Difficulty: {{ recipe.difficulty }}</li>
        <li>Meal Type: {{ recipe.meal_type }}</li>
        <li>Diet: {{ recipe.diet }}</li>
        <li>Cuisine: {{ recipe.cuisine }}</li>
    </ul>

    <div class="recipe-section">
        <h2>Ingredients</h2>
        <p>{{ recipe.ingredients }}</p>
    </div>

    <div class="recipe-section">
        <h2>Instructions</h2>
        <p>{{ recipe.instructions }}</p>
    </div>

    <!-- Comments Section -->
    <div class="recipe-section">
        <h2>Comments</h2>

        <div id="comments-container">
            {% for comment in comments %}
            <div class="comment">
                <p><strong>{{ comment.user.username }}</strong> - {{ comment.created_at|date:"F d, Y H:i" }}</p>
                <p>{{ comment.text }}</p>
            </div>
            {% empty %}
            <p id="no-comments-message">No comments yet. Be the first to comment!</p>
            {% endfor %}
        </div>
    </div>

    <!-- Add Comment Form -->
    {% if user.is_authenticated %}
    <div class="recipe-section">
        <h3>Add a Comment</h3>
        <form id="ajax-comment-form">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" name="comment" class="submitbtn">Submit Comment</button>
        </form>
        <div id="comment-status"></div>
    </div>
    {% else %}
    <p><a href="{% url 'dishcovery:login' %}">Log in</a> to post a comment.</p>
    {% endif %}

    <!-- Ratings Section -->
    <div class="recipe-section">
        <h2>Average Rating: {{ average_rating }}/10</h2>

        {% if user.is_authenticated %}
        <h3>Rate this Recipe</h3>
        <form method="post">
            {% csrf_token %}
            <div class="custom-form" {{ rating_form.as_p }} </div>
                <button type="submit" name="rating" class="submitbtn">Submit Rating</button>
        </form>
        {% else %}
        <p><a href="{% url 'dishcovery:login' %}">Log in</a> to rate this recipe.</p>
        {% endif %}
    </div>

</div>
<script>
    var addCommentURL = "{% url 'dishcovery:add_comment_ajax' recipe.id %}";
</script>

{% endblock %}