{% extends 'dishcovery_project/base.html' %}
{% load static %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<div class="login-box">
    {% if registered %}
        <h2>Welcome to Dishcovery!</h2>
        <p><strong>Thank you for registering.</strong></p>
        <a class="back-link" href="{% url 'dishcovery:home' %}">Return to the homepage</a>
    {% else %}
        <form id="user_form" method="post" action="{% url 'dishcovery:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Register</h2>

            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required>
                <i class="fa fa-user"></i>
            </div>
            
            <div class="input-box">
                <input type="email" name="email" placeholder="Email" required>
                <i class="fa fa-envelope"></i>
            </div>
            
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
                <i class="fa fa-lock"></i>
            </div>

            <button type="submit" class="login-btn">Register</button>

            <div class="register-link">
                <p>Already have an account? <a href="{% url 'dishcovery:login' %}">Login here!</a></p>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
